# Three dimension arrays
xarray
python-dateutil
google.cloud.bigquery
colorama
pyarrow
statsmodels
pmdarima
darts
fastapi
pandas
numpy
datetime
requests
pathlib
matplotlib
darts
joblib
tensorflow
scikit-learn
schedule

# Google Cloud
google-cloud-storage
protobuf==3.20.3

#Predict in production
fastapi
pytz
uvicorn
